body {
    background: #f0f0f0;
}

.packages-box {
    display: flex;
    justify-content: center;
    gap: 55px;
    flex-wrap: wrap;
    margin-top: 80px;
}
.package {
    position: relative;
    width: 261px;
    height: 450px;
    margin: 0 auto;
}

.package h5 {
    position: absolute;
    top: -23px;
    width: 261px;
    height: 450px;
    z-index: 1;
    text-align: center;
    font-size: 24px;
 }
 .package .percent-per-month {
    position: absolute;
    top: 50px;
    width: 261px;
    height: 450px;
    z-index: 1;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
 }
 .package .price {
    position: absolute;
    top: 134px;
    width: 261px;
    height: 450px;
    z-index: 1;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
 }

.package img {
    position: absolute;
    width: 261px;
    height: 450px;
 }

.package .des {
    position: absolute;
    top: 230px;
    left: 29px;
    right: 28px;
}

.package .des .text {
    font-size: 10px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 12px; 
}

.package button {
    position: absolute;
    bottom: 43px;
    left: 78px;
    right: 78px;
    border: 0;
    height: 30px;
    border-radius: 8px;
}

.button1 {
    background: linear-gradient(180deg, rgba(247,159,35,1) 0%, rgba(245,219,47,1) 100%);
    color: white;
}

.button2 {
    background: linear-gradient(180deg, rgba(186,101,167,1) 0%, rgba(230,79,142,1) 100%);
    color: white;
}

.button3 {
    background: linear-gradient(180deg, rgba(135,76,158,1) 0%, rgba(85,125,191,1) 100%);
    color: white;
}

.package-heading {
    color: white;
}
